{% extends "base.html.twig" %}
{% block title "Tout les biens" %}
{% block body %}
    <div class="container mt-4">
        <h1>Voir tout nos biens</h1>
    </div>
    <div class="container">
    </div>
{% endblock %}